.places {
    display: flex;
    max-width: 984px;
    margin: 0 auto 92px;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .places {
        margin: 0 48px 92px;
    }
}

@media screen and (max-width: 950px) {
    .places {
        margin: 0 24px 90px;
    }
}

@media screen and (max-width: 500px) {
    .places {
        margin: 0 0 66px;
    }
}