.place__item {
    margin-bottom: 80px;
}

.place__item:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .place__item {
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 767px) {
    .place__item {
        margin-bottom: 50px;
    }
}